<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qualityevaluationsys.demo.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.qualityevaluationsys.demo.domain.Class">
    <id column="Cid" jdbcType="INTEGER" property="cid" />
    <result column="Cname" jdbcType="VARCHAR" property="cname" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="head_teacher" jdbcType="VARCHAR" property="headTeacher" />
    <result column="head_teacher_id" jdbcType="INTEGER" property="headTeacherId" />
    <result column="school_year" jdbcType="VARCHAR" property="schoolYear" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Cid, Cname, profession, head_teacher, head_teacher_id, school_year
  </sql>
  <select id="selectByExample" parameterType="com.qualityevaluationsys.demo.domain.ClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Class
    where Cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Class
    where Cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qualityevaluationsys.demo.domain.ClassExample">
    delete from Class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qualityevaluationsys.demo.domain.Class">
    insert into Class (Cid, Cname, profession, 
      head_teacher, head_teacher_id, school_year
      )
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{headTeacher,jdbcType=VARCHAR}, #{headTeacherId,jdbcType=INTEGER}, #{schoolYear,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qualityevaluationsys.demo.domain.Class">
    insert into Class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        Cid,
      </if>
      <if test="cname != null">
        Cname,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="headTeacher != null">
        head_teacher,
      </if>
      <if test="headTeacherId != null">
        head_teacher_id,
      </if>
      <if test="schoolYear != null">
        school_year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="headTeacher != null">
        #{headTeacher,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherId != null">
        #{headTeacherId,jdbcType=INTEGER},
      </if>
      <if test="schoolYear != null">
        #{schoolYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qualityevaluationsys.demo.domain.ClassExample" resultType="java.lang.Long">
    select count(*) from Class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Class
    <set>
      <if test="record.cid != null">
        Cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null">
        Cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.profession != null">
        profession = #{record.profession,jdbcType=VARCHAR},
      </if>
      <if test="record.headTeacher != null">
        head_teacher = #{record.headTeacher,jdbcType=VARCHAR},
      </if>
      <if test="record.headTeacherId != null">
        head_teacher_id = #{record.headTeacherId,jdbcType=INTEGER},
      </if>
      <if test="record.schoolYear != null">
        school_year = #{record.schoolYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Class
    set Cid = #{record.cid,jdbcType=INTEGER},
      Cname = #{record.cname,jdbcType=VARCHAR},
      profession = #{record.profession,jdbcType=VARCHAR},
      head_teacher = #{record.headTeacher,jdbcType=VARCHAR},
      head_teacher_id = #{record.headTeacherId,jdbcType=INTEGER},
      school_year = #{record.schoolYear,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qualityevaluationsys.demo.domain.Class">
    update Class
    <set>
      <if test="cname != null">
        Cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="headTeacher != null">
        head_teacher = #{headTeacher,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherId != null">
        head_teacher_id = #{headTeacherId,jdbcType=INTEGER},
      </if>
      <if test="schoolYear != null">
        school_year = #{schoolYear,jdbcType=VARCHAR},
      </if>
    </set>
    where Cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qualityevaluationsys.demo.domain.Class">
    update Class
    set Cname = #{cname,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      head_teacher = #{headTeacher,jdbcType=VARCHAR},
      head_teacher_id = #{headTeacherId,jdbcType=INTEGER},
      school_year = #{schoolYear,jdbcType=VARCHAR}
    where Cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>