<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qualityevaluationsys.demo.dao.ParticipationMapper">
  <resultMap id="BaseResultMap" type="com.qualityevaluationsys.demo.domain.Participation">
    <id column="Pid" jdbcType="INTEGER" property="pid" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sclass" jdbcType="VARCHAR" property="sclass" />
    <result column="Sid" jdbcType="CHAR" property="sid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Pid, date, time, status, reason, sname, sclass, Sid
  </sql>
  <select id="selectByExample" parameterType="com.qualityevaluationsys.demo.domain.ParticipationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Participation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Participation
    where Pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Participation
    where Pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qualityevaluationsys.demo.domain.ParticipationExample">
    delete from Participation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qualityevaluationsys.demo.domain.Participation">
    insert into Participation (Pid, date, time, 
      status, reason, sname, 
      sclass, Sid)
    values (#{pid,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, 
      #{sclass,jdbcType=VARCHAR}, #{sid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qualityevaluationsys.demo.domain.Participation">
    insert into Participation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        Pid,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="sname != null">
        sname,
      </if>
      <if test="sclass != null">
        sclass,
      </if>
      <if test="sid != null">
        Sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sclass != null">
        #{sclass,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qualityevaluationsys.demo.domain.ParticipationExample" resultType="java.lang.Long">
    select count(*) from Participation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Participation
    <set>
      <if test="record.pid != null">
        Pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.sname != null">
        sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.sclass != null">
        sclass = #{record.sclass,jdbcType=VARCHAR},
      </if>
      <if test="record.sid != null">
        Sid = #{record.sid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Participation
    set Pid = #{record.pid,jdbcType=INTEGER},
      date = #{record.date,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      reason = #{record.reason,jdbcType=VARCHAR},
      sname = #{record.sname,jdbcType=VARCHAR},
      sclass = #{record.sclass,jdbcType=VARCHAR},
      Sid = #{record.sid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qualityevaluationsys.demo.domain.Participation">
    update Participation
    <set>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sclass != null">
        sclass = #{sclass,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        Sid = #{sid,jdbcType=CHAR},
      </if>
    </set>
    where Pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qualityevaluationsys.demo.domain.Participation">
    update Participation
    set date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      sname = #{sname,jdbcType=VARCHAR},
      sclass = #{sclass,jdbcType=VARCHAR},
      Sid = #{sid,jdbcType=CHAR}
    where Pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>