<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qualityevaluationsys.demo.dao.TTMapper">
  <resultMap id="BaseResultMap" type="com.qualityevaluationsys.demo.domain.TT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Tno" jdbcType="INTEGER" property="tno" />
    <result column="Tid" jdbcType="VARCHAR" property="tid" />
    <result column="Tname" jdbcType="VARCHAR" property="tname" />
    <result column="Tdate" jdbcType="VARCHAR" property="tdate" />
    <result column="Tdisplay" jdbcType="VARCHAR" property="tdisplay" />
    <result column="Cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, Tno, Tid, Tname, Tdate, Tdisplay, Cid
  </sql>
  <select id="selectByExample" parameterType="com.qualityevaluationsys.demo.domain.TTExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TT
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TT
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qualityevaluationsys.demo.domain.TTExample">
    delete from TT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qualityevaluationsys.demo.domain.TT">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TT (Tno, Tid, Tname, 
      Tdate, Tdisplay, Cid
      )
    values (#{tno,jdbcType=INTEGER}, #{tid,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, 
      #{tdate,jdbcType=VARCHAR}, #{tdisplay,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qualityevaluationsys.demo.domain.TT">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        Tno,
      </if>
      <if test="tid != null">
        Tid,
      </if>
      <if test="tname != null">
        Tname,
      </if>
      <if test="tdate != null">
        Tdate,
      </if>
      <if test="tdisplay != null">
        Tdisplay,
      </if>
      <if test="cid != null">
        Cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        #{tno,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null">
        #{tdate,jdbcType=VARCHAR},
      </if>
      <if test="tdisplay != null">
        #{tdisplay,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qualityevaluationsys.demo.domain.TTExample" resultType="java.lang.Long">
    select count(*) from TT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TT
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tno != null">
        Tno = #{record.tno,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null">
        Tid = #{record.tid,jdbcType=VARCHAR},
      </if>
      <if test="record.tname != null">
        Tname = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.tdate != null">
        Tdate = #{record.tdate,jdbcType=VARCHAR},
      </if>
      <if test="record.tdisplay != null">
        Tdisplay = #{record.tdisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        Cid = #{record.cid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TT
    set id = #{record.id,jdbcType=INTEGER},
      Tno = #{record.tno,jdbcType=INTEGER},
      Tid = #{record.tid,jdbcType=VARCHAR},
      Tname = #{record.tname,jdbcType=VARCHAR},
      Tdate = #{record.tdate,jdbcType=VARCHAR},
      Tdisplay = #{record.tdisplay,jdbcType=VARCHAR},
      Cid = #{record.cid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qualityevaluationsys.demo.domain.TT">
    update TT
    <set>
      <if test="tno != null">
        Tno = #{tno,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        Tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        Tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null">
        Tdate = #{tdate,jdbcType=VARCHAR},
      </if>
      <if test="tdisplay != null">
        Tdisplay = #{tdisplay,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        Cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qualityevaluationsys.demo.domain.TT">
    update TT
    set Tno = #{tno,jdbcType=INTEGER},
      Tid = #{tid,jdbcType=VARCHAR},
      Tname = #{tname,jdbcType=VARCHAR},
      Tdate = #{tdate,jdbcType=VARCHAR},
      Tdisplay = #{tdisplay,jdbcType=VARCHAR},
      Cid = #{cid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>